**/.git
**/.gitignore
**/.github
**/.vscode
**/.cache
**/coverage
**/.env
**/.aws
**/.ssh
Dockerfile
**/__pycache__
**/*.pyc
**/*.md
**/*.sh
!start.sh
**/*.ini
**/*.yml
**/*.yaml
**/*.example
**/.DS_Store
**/venv
**/.venv
**/env
**/.dev
**/.dev.*
**/*.crt
**/*.key
**/.*